<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCCornerViewModel</key>
	<string>SCCornerViewController</string>
	<key>SCPrimerViewModel</key>
	<string>SCPrimerViewController</string>
	<key>SCWelcomeViewModel</key>
	<string>SCWelcomeViewController</string>
	<key>ScaleTranViewModel</key>
	<string>ScaleTranViewController</string>
	<key>ViewModel</key>
	<string>ViewController</string>
</dict>
</plist>
